
.carrusel-e-imagenes{
    position: relative;
    height: 410px;
    //width: 980px;
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: #fff;

    .carrusel{
        width: 670px;
        height: 360px;

        a{
            
        }
    }

    


}