
nav, .navlinks{
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: #404040;

    
    .links1{
        display: flex;
        justify-content: space-between;//horizontal aligment
        align-items: center;//vertical aligment
        height: 50px;

        a{
            position: relative;
            color: #fff;
            font-size: 0.75rem;
            font-weight: 700;
            height: 50px;
            //width: 100px;
            text-decoration: none;
            //margin-right: 12px;
            padding-top: 12px;
            
            &:nth-child(-n + 2){//selects only first two children
                //width: 100px;
                word-wrap: break-word;
                text-align: center;
            }

            &:first-child{
                width: 74px;
                margin-left: 40px;
            }

            &:nth-child(2){
                width: 95px;
            }

            &:last-child{
                margin-right: 40px;
            }

            &::before{
                content: "";
                display: block;
                position: absolute;
                height: 7px;
                left: 0;
                right: 0;
                top: 0px;
                background-color: #20ACB8;
                opacity: 0;
                transition: opacity 100ms ease-in-out;
            }

            &:hover{
                &::before{
                    opacity: 1;
                }
            }
            
        }
    }

    .carrusel-e-imagenes{
        position: relative;
        height: 410px;
        //width: 980px;
        grid-column-start: 1;
        grid-column-end: 5;
        background-color: #fff;
    
        .carrusel{

            width: 670px;
            height: 360px;

            .slide-number{
                position: absolute;
                z-index: 2;
            }

            img{
                position: absolute;
                z-index: 0;
                //display:none;
            }

            .carrusel-output{
                position: absolute;
                z-index: 1;
                background-color: #404040;
                height: 60px;
                width: inherit;
                text-align: left;
                top: 300px;
                
                }
        }

        
    }

    .links2{
        display: flex;
        justify-content: space-between;//horizontal aligment
        align-items: center;//vertical aligment
        height: 50px;

        a{
            position: relative;
            color: #fff;
            font-size: 0.75rem;
            font-weight: 700;
            height: 50px;
            //width: 100px;
            text-decoration: none;
            //margin-right: 12px;
            padding-top: 12px;
            
            &:nth-child(n + 4){//selects all elements after the fourth, including the fourth
                word-wrap: break-word;
                text-align: center;
            }

            &:first-child{
                margin-left: 40px;
            }

            &:last-child{
                margin-right: 40px;
                width: 53px;
            }

            &:nth-child(4){
                width: 90px;
            }

            &:nth-child(5){
                width: 74px;
            }

            &:nth-child(6){
                width: 94px;
            }

            &:nth-child(8){
                width: 90px;
            }

            &::before{
                content: "";
                display: block;
                position: absolute;
                height: 7px;
                left: 0;
                right: 0;
                top: 0px;
                background-color: #20ACB8;
                opacity: 0;
                transition: opacity 100ms ease-in-out;
            }

            &:hover{
                &::before{
                    opacity: 1;
                }
            }
            
        }
    }
}