html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  line-height: 1.3;
  overflow-x: hidden;
  background-color: #e8e8df;
  background-image: url(/images/fondo_top.png);
  background-repeat: repeat-x;
}

main, .grid-Parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 980px;
  margin: 0 auto;
}

header, .encabezado {
  position: relative;
  height: 100px;
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: #c6dad8;
}
header .img__UAM-Logo, .encabezado .img__UAM-Logo {
  display: block;
  margin: 10px auto 0px;
}
header button, header #botonCalendarioEscolar, .encabezado button, .encabezado #botonCalendarioEscolar {
  font-size: 0.65rem;
  position: absolute;
  right: 400px;
  bottom: 10px;
  background-color: #20ACB8;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
  padding: 3px 10px;
  cursor: pointer;
}
header button:hover, header #botonCalendarioEscolar:hover, .encabezado button:hover, .encabezado #botonCalendarioEscolar:hover {
  background-color: #fff;
  color: #808080;
}
header .img__Idiomas-Logo, .encabezado .img__Idiomas-Logo {
  position: absolute;
  right: 30px;
  bottom: 10px;
}

nav, .navlinks {
  grid-column-start: 1;
  grid-column-end: 5;
}
nav .links1, .navlinks .links1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #404040;
  height: 50px;
}
nav .links1 a, .navlinks .links1 a {
  position: relative;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 700;
  height: 50px;
  text-decoration: none;
  padding-top: 12px;
}
nav .links1 a:nth-child(-n+2), .navlinks .links1 a:nth-child(-n+2) {
  word-wrap: break-word;
  text-align: center;
}
nav .links1 a:first-child, .navlinks .links1 a:first-child {
  width: 74px;
  margin-left: 40px;
}
nav .links1 a:nth-child(2), .navlinks .links1 a:nth-child(2) {
  width: 95px;
}
nav .links1 a:last-child, .navlinks .links1 a:last-child {
  margin-right: 40px;
}
nav .links1 a::before, .navlinks .links1 a::before {
  content: "";
  display: block;
  position: absolute;
  height: 7px;
  left: 0;
  right: 0;
  top: 0px;
  background-color: #20ACB8;
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}
nav .links1 a:hover::before, .navlinks .links1 a:hover::before {
  opacity: 1;
}
nav .roulette, .navlinks .roulette {
  height: 410px;
  background-color: #fff;
}
nav .links2, .navlinks .links2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #404040;
  height: 50px;
}
nav .links2 a, .navlinks .links2 a {
  position: relative;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 700;
  height: 50px;
  text-decoration: none;
  padding-top: 12px;
}
nav .links2 a:nth-child(n+4), .navlinks .links2 a:nth-child(n+4) {
  word-wrap: break-word;
  text-align: center;
}
nav .links2 a:first-child, .navlinks .links2 a:first-child {
  margin-left: 40px;
}
nav .links2 a:last-child, .navlinks .links2 a:last-child {
  margin-right: 40px;
  width: 53px;
}
nav .links2 a:nth-child(4), .navlinks .links2 a:nth-child(4) {
  width: 90px;
}
nav .links2 a:nth-child(5), .navlinks .links2 a:nth-child(5) {
  width: 74px;
}
nav .links2 a:nth-child(6), .navlinks .links2 a:nth-child(6) {
  width: 94px;
}
nav .links2 a:nth-child(8), .navlinks .links2 a:nth-child(8) {
  width: 90px;
}
nav .links2 a::before, .navlinks .links2 a::before {
  content: "";
  display: block;
  position: absolute;
  height: 7px;
  left: 0;
  right: 0;
  top: 0px;
  background-color: #20ACB8;
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}
nav .links2 a:hover::before, .navlinks .links2 a:hover::before {
  opacity: 1;
}/*# sourceMappingURL=style.css.map */