html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  line-height: 1.3;
  overflow-x: hidden;
  background-color: #e8e8df;
  background-image: url(/images/fondo_top.png);
  background-repeat: repeat-x;
}

main, .grid-Parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 980px;
  margin: 0 auto;
}

header, .encabezado {
  position: relative;
  height: 100px;
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: #c6dad8;
}
header .img__UAM-Logo, .encabezado .img__UAM-Logo {
  display: block;
  margin: 10px auto 0px;
}
header button, header #botonCalendarioEscolar, .encabezado button, .encabezado #botonCalendarioEscolar {
  font-size: 0.65rem;
  position: absolute;
  right: 400px;
  bottom: 10px;
  background-color: #20ACB8;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
  padding: 3px 10px;
  cursor: pointer;
}
header button:hover, header #botonCalendarioEscolar:hover, .encabezado button:hover, .encabezado #botonCalendarioEscolar:hover {
  background-color: #fff;
  color: #808080;
}
header .img__Idiomas-Logo, .encabezado .img__Idiomas-Logo {
  position: absolute;
  right: 30px;
  bottom: 10px;
}
header .img__Unidades-Cubos, .encabezado .img__Unidades-Cubos {
  position: absolute;
  top: 0;
  left: -144px;
}

nav, .navlinks {
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: #404040;
}
nav .links1, .navlinks .links1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
nav .links1 a, .navlinks .links1 a {
  position: relative;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 700;
  height: 50px;
  text-decoration: none;
  padding-top: 12px;
}
nav .links1 a:nth-child(-n+2), .navlinks .links1 a:nth-child(-n+2) {
  word-wrap: break-word;
  text-align: center;
}
nav .links1 a:first-child, .navlinks .links1 a:first-child {
  width: 74px;
  margin-left: 40px;
}
nav .links1 a:nth-child(2), .navlinks .links1 a:nth-child(2) {
  width: 95px;
}
nav .links1 a:last-child, .navlinks .links1 a:last-child {
  margin-right: 40px;
}
nav .links1 a::before, .navlinks .links1 a::before {
  content: "";
  display: block;
  position: absolute;
  height: 7px;
  left: 0;
  right: 0;
  top: 0px;
  background-color: #20ACB8;
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}
nav .links1 a:hover::before, .navlinks .links1 a:hover::before {
  opacity: 1;
}
nav .carrusel-banner, .navlinks .carrusel-banner {
  position: relative;
  height: 410px;
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: #fff;
  font-size: 0.7rem;
}
nav .carrusel-banner .carrusel, .navlinks .carrusel-banner .carrusel {
  position: absolute;
  width: 670px;
  height: 360px;
  left: 35px;
  top: 20px;
  box-sizing: content-box;
  border-width: 2px;
  border-style: solid;
  border-color: #404040;
}
nav .carrusel-banner .carrusel .slide-number, .navlinks .carrusel-banner .carrusel .slide-number {
  position: absolute;
  z-index: 2;
  top: 6px;
}
nav .carrusel-banner .carrusel .slide-number a, .navlinks .carrusel-banner .carrusel .slide-number a {
  color: #fff;
  text-decoration: none;
  background-color: #404040;
  background-color: rgba(64, 64, 64, 0.7);
  padding: 4px;
}
nav .carrusel-banner .carrusel img, nav .carrusel-banner .carrusel .slides, .navlinks .carrusel-banner .carrusel img, .navlinks .carrusel-banner .carrusel .slides {
  position: absolute;
  z-index: 0;
}
nav .carrusel-banner .carrusel .carrusel-output, .navlinks .carrusel-banner .carrusel .carrusel-output {
  position: absolute;
  z-index: 1;
  background-color: #404040;
  height: 60px;
  width: inherit;
  text-align: left;
  top: 300px;
}
nav .carrusel-banner .banner, .navlinks .carrusel-banner .banner {
  position: absolute;
  height: 360px;
  left: 720px;
  top: 20px;
  box-sizing: content-box;
}
nav .links2, .navlinks .links2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
nav .links2 a, .navlinks .links2 a {
  position: relative;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 700;
  height: 50px;
  text-decoration: none;
  padding-top: 12px;
}
nav .links2 a:nth-child(n+4), .navlinks .links2 a:nth-child(n+4) {
  word-wrap: break-word;
  text-align: center;
}
nav .links2 a:first-child, .navlinks .links2 a:first-child {
  margin-left: 40px;
}
nav .links2 a:last-child, .navlinks .links2 a:last-child {
  margin-right: 40px;
  width: 53px;
}
nav .links2 a:nth-child(4), .navlinks .links2 a:nth-child(4) {
  width: 90px;
}
nav .links2 a:nth-child(5), .navlinks .links2 a:nth-child(5) {
  width: 74px;
}
nav .links2 a:nth-child(6), .navlinks .links2 a:nth-child(6) {
  width: 94px;
}
nav .links2 a:nth-child(8), .navlinks .links2 a:nth-child(8) {
  width: 90px;
}
nav .links2 a::before, .navlinks .links2 a::before {
  content: "";
  display: block;
  position: absolute;
  height: 7px;
  left: 0;
  right: 0;
  top: 0px;
  background-color: #20ACB8;
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}
nav .links2 a:hover::before, .navlinks .links2 a:hover::before {
  opacity: 1;
}

.avisos-Cultura {
  position: relative;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  height: 1000px;
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: #ffffff;
}
.avisos-Cultura .sidebar-title {
  font-size: 0.85rem;
  font-weight: bold;
  color: #20ACB8;
  padding-top: 25px;
  padding-bottom: 25px;
}
.avisos-Cultura a {
  text-decoration: none;
  font-size: 0.65rem;
  font-style: italic;
}
.avisos-Cultura a:visited {
  color: #20ACB8;
}
.avisos-Cultura a:hover {
  color: #000;
}
.avisos-Cultura .dotted-margin-sideb1 {
  grid-column-start: 1;
  grid-column-end: 6;
  border-style: none dotted none none;
  border-width: 4px;
  border-color: #a9d8dd;
}
.avisos-Cultura .dotted-margin-sideb2 {
  grid-column-start: 6;
  grid-column-end: 10;
  border-style: none dotted none none;
  border-width: 4px;
  border-color: #a9d8dd;
}
.avisos-Cultura .dotted-margin-sideb3 {
  grid-column-start: 10;
  grid-column-end: 14;
  border-style: none dotted none none;
  border-width: 4px;
  border-color: #a9d8dd;
}
.avisos-Cultura .sidebar-1 {
  grid-column-start: 1;
  grid-column-end: 6;
  height: 500px;
  padding-left: 30px;
  padding-right: 10px;
}
.avisos-Cultura .sidebar-1 .avisos-uam {
  height: 450px;
  overflow-y: scroll;
}
.avisos-Cultura .sidebar-1 .avisos-uam .aviso-contenedor {
  border-style: none none solid none;
  border-width: 1px;
  border-color: #20ACB8;
  font-size: 0.75rem;
}
.avisos-Cultura .sidebar-1 .avisos-uam .aviso-contenedor p {
  color: #838282;
  font-weight: 700;
}
.avisos-Cultura .sidebar-1 .avisos-uam .aviso-contenedor p.doc-link {
  text-align: right;
  color: #20ACB8;
}
.avisos-Cultura .sidebar-2 {
  grid-column-start: 6;
  grid-column-end: 10;
  padding-left: 10px;
}
.avisos-Cultura .sidebar-2 .avisos-convocatorias .dropdown-convocatorias {
  height: 200px;
  margin-bottom: 15px;
  overflow-y: scroll;
  margin-right: 10px;
  font-weight: 700;
}
.avisos-Cultura .sidebar-2 .avisos-convocatorias .dropdown-convocatorias details {
  font-size: 0.7rem;
}
.avisos-Cultura .sidebar-2 .avisos-convocatorias .dropdown-convocatorias details summary {
  background-color: #20ACB8;
  color: #ffffff;
  padding-left: 10px;
  padding-top: 5px;
  font-size: 0.8rem;
  height: 20px;
  border-radius: 5px 5px 0px 0px;
}
.avisos-Cultura .sidebar-2 .avisos-convocatorias .dropdown-convocatorias details p {
  color: #838282;
  font-weight: 700;
}
.avisos-Cultura .sidebar-2 .avisos-convocatorias .dropdown-convocatorias details p.det-p-title {
  color: #000;
}
.avisos-Cultura .sidebar-2 .avisos-convocatorias a img {
  display: block;
  padding-bottom: 35px;
  margin: 0 auto;
}
.avisos-Cultura .sidebar-3 {
  grid-column-start: 10;
  grid-column-end: 14;
  padding-left: 10px;
}
.avisos-Cultura .sidebar-4 {
  grid-column-start: 14;
  grid-column-end: 17;
  padding-left: 10px;
}/*# sourceMappingURL=style.css.map */